<!doctype html>
<html>
  <head>
    <title>md</title>
    <style>
      body {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 32px;
        padding-left: 32px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
      }

      a {
        font-color: #0969da;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      h1, h2, h3, h4, h5, h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        padding-bottom: 8px;
      }

      h1, h2 {
        border-bottom: 1px solid #e6e6e6;
      }

      pre, code {
        background-color: #e6e6e6;
        font-family: monospace;
      }

      pre {
        padding: 16px;
        border-radius: 6px;
        overflow: auto;
      }

      code {
        padding: 4px;
        border-radius: 6px;
      }

      pre code {
        padding: 0;
        border-radius: 0;
      }

      table {
        display: block;
        overflow: auto;
        border-spacing: 0;
        border-collapse: collapse;
      }

      table th, table td {
        padding: 6px 16px;
        border: 1px solid #e6e6e6;
      }
    </style>
  </head>
  <body>
{{.}}
  </body>
</html>
